{% if not init_master | default(false) %}
server: https://{{ rke2_server.tls_san[0] }}:9345
{% endif %}
token: {{ global.token }}
node-name: {{ inventory_hostname }}
node-ip: {{ ansible_host }} 

write-kubeconfig: {{ rke2_server.write_kubeconfig }}
write-kubeconfig-mode: {{ rke2_server.write_kubeconfig_mode }}

tls-san:
{% for ip in rke2_server.tls_san %}
  - {{ ip }}
{% endfor %}

disable-default-registry-endpoint: {{ global.docker_repo.disable_default_registry_endpoint }}
system-default-registry: {{ global.docker_repo.host }}

node-taint:
{% for taint in rke2_server.node_taint %}
  - {{ taint }}
{% endfor %}

disable: 
{% for disable in rke2_server.disable %}
  - {{ disable }}
{% endfor %}

disable-cloud-controller: {{ rke2_server.disable_cloud_controller }}
disable-kube-proxy: {{ rke2_server.cilium.disable_kube_proxy }}

profile: "{{ global.profile }}"

data-dir: {{ global.rke2_data_dir }}
etcd-expose-metrics: {{ rke2_server.db.etcd_expose_metrics }}
etcd-disable-snapshots: {{ rke2_server.db.etcd_disable_snapshots }}
etcd-snapshot-schedule-cron: "{{ rke2_server.db.etcd_snapshot_schedule_cron }}"
etcd-snapshot-retention: {{ rke2_server.db.etcd_snapshot_retention }}
etcd-snapshot-compress: {{ rke2_server.db.etcd_snapshot_compress }}

cni: "{{ rke2_server.cni }}"
ingress-controller: "{{ rke2_server.ingress_controller }}"
cluster-cidr: "{{ rke2_server.cluster_cidr }}"
service-cidr: "{{ rke2_server.service_cidr }}"
cluster-dns: "{{ rke2_server.cluster_dns }}"
service-node-port-range: "{{ rke2_server.service_node_port_range }}"
cluster-domain: "{{ rke2_server.cluster_domain }}"

control-plane-resource-requests:
{% for control_plane_resource_requests in rke2_server.control_plane_resource_requests%}
  - {{ control_plane_resource_requests }}
{% endfor %}

control-plane-resource-limits:
{% for control_plane_resource_limits in rke2_server.control_plane_resource_limits %}
  - {{ control_plane_resource_limits }}
{% endfor %}

kube-apiserver-arg:
{% for kube_apiserver_arg in rke2_server.kube_apiserver_arg %}
  - {{ kube_apiserver_arg }}
{% endfor %}

etcd-arg:
{% for etcd_arg in rke2_server.etcd_arg %}
  - {{ etcd_arg }}
{% endfor %}

{% if not (rke2_server.cilium.disable_kube_proxy and rke2_server.cilium.kubeproxyreplacement) %}
kube-proxy-arg:
{% for kube_proxy_arg in rke2_agent.kube_proxy_arg %}
  - {{ kube_proxy_arg }}
{% endfor %}
{% endif %}
